<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Ministry Notes</h2>
  <p>Goal of this application is to help you keep track of your ministry, at the same time be as simple as possible.
  There are several application right now that try to accomplish the same purpose, but they tend to be over complicated.
  </p>
  <h2>Implemented:</h2>
  <ul>
  <li>Report: keep track of your monty time report</li>
  <li>Notes: a place to keep reminders</li>
  <li>Calls: store your return visits, Bible studies</li> 
  </ul>



  <h2>Todo:</h2>
  <ul>
  <li>Help Documents: Tips on how to use this application</li>
  <li>Yearly Summary: Graph, Statistics for chosen year</li>
  <li>Community comments: Allow users to post quetions or make suggestions</li>
  <li>Languages: Allow to change app default language</li>
  </ul>

  
  <button  ion-button full (click)="dropboxView()" >Backup With Dropbox</button>
  <button  ion-button full (click)="logsView()" >Logs</button>

  <!--
  <button  ion-button full (click)="emailBackup()" >Backup through Email</button>
  -->
  
  <h2>Credits:</h2>
  People graphic (Logo) by <a href="http://www.flaticon.com/authors/freepik">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a>
<!--

  <h2>Suggestions:</h2>   
  <p>
    todo:point to website.
  </p>

 
  <h2>Languages:</h2>
  
-->
<!--
  <hr />
  Username: {{username}}
  <br/>
  
    <button *ngIf="username != 'Guest'" ion-button full (click)="logout()" >Logout</button>
    <button *ngIf="username == 'Guest'" ion-button full (click)="loginSignup()" >Signup/Login</button>
  -->
</ion-content>
