page-visit-placements {
    ion-scroll {
        white-space: nowrap;
        height: 150px
    }

    img{
        margin: 10px;
    }

    publication-item{
        background-color: white;
    }

}
