<ion-header>
  <ion-navbar>
    <ion-title>Date: {{printDate()}} </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>



   <ion-scroll scrollX  style="height:130px">
    <div  *ngFor="let day of dayScroll" (click)="selectDay(day.day)" [ngClass]=getDayClass(day.day)  >
      <ion-label>{{day.day}}</ion-label>
      <ion-label *ngIf="!isToday(day.day)" class="weekday">{{day.weekday}}</ion-label>
      <ion-label *ngIf="isToday(day.day)" class="today weekday">Today</ion-label>
    </div>
  </ion-scroll>

  <ion-item>
    <p>
      Placements:
    </p>
    <p item-middle class="numbers" align="center">
      {{day.placements}}
    </p>
    <p item-right align="right">
      <button ion-fab mini (click)="changeRecord('placement', true)"><ion-icon name="add"></ion-icon></button>
      <button ion-fab mini (click)="changeRecord('placement', false)"><ion-icon name="remove"></ion-icon></button>
    </p>
  </ion-item>

  <ion-item>
    <p>
      Videos:
    </p>
    <p item-middle align="center" class="numbers">
      {{day.videos}}
    </p>
    <p item-right align="right">
      <button ion-fab mini (click)="changeRecord('videos', true)"><ion-icon name="add"></ion-icon></button>
      <button ion-fab mini (click)="changeRecord('videos', false)"><ion-icon name="remove"></ion-icon></button>
    </p>
  </ion-item>

  <ion-item>
    <p>
      Hours:
    </p>
    <p item-middle align="center"class="numbers" >
      {{day.hours}}
    </p>
    <p item-right align="right">
      <button ion-fab mini (click)="changeRecord('hours', true)"><ion-icon name="add"></ion-icon></button>
      <button ion-fab mini (click)="changeRecord('hours', false)"><ion-icon name="remove"></ion-icon></button>
    </p>
  </ion-item>

  <ion-item>
    <p>
      Return Visits:
    </p>
    <p item-middle align="center" class="numbers">
      {{day.rvs}}
    </p>
    <p item-right align="right">
      <button ion-fab mini (click)="changeRecord('rvs', true)"><ion-icon name="add"></ion-icon></button>
      <button ion-fab mini (click)="changeRecord('rvs', false)"><ion-icon name="remove"></ion-icon></button>
    </p>
  </ion-item>


</ion-content>
